.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    line-height: 3.5rem;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    align-items: stretch;
}

.logo {
    max-height: 3.5rem;
}

.sidebar-header {
    flex: 0 0 15rem;
}
.body-header {
    background-color: #ffffff;
    width: calc(100% - 15rem); 
    background-color: cadetblue;
}
